<h2>about me</h2>
<p>
Savant typist; professional-level tea maker; noticer of small differences;
impossibly pedantic; always an <a href="http://youtu.be/ZjibEkDoXQc"> arsehole</a>;
sentence maker; fluent in http://<a href="http://python.org">python</a>.org and english;
capital letter hater; mumbler; word swallower; high decibel sneezer; avid snorer;
father of two eye-rollers; lover of 1995 mariah carey, adele and amy winehouse and 
I don't care who knows it; adored by women under 7 and over 80.
A leader without a following (yet, stay tuned)
</p>
