[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "octopress-bootstrap"]
	path = octopress-bootstrap
	url = https://github.com/barmstrong/octopress-bootstrap.git
[submodule "solarized-octopress-theme"]
	path = solarized-octopress-theme
	url = https://github.com/erikzaadi/solarized-octopress-theme.git
[submodule ".themes/solarized-octopress-theme"]
	path = .themes/solarized-octopress-theme
	url = https://github.com/erikzaadi/solarized-octopress-theme.git
