[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/readify"]
	path = .themes/readify
	url = git://github.com/vladigleba/readify.git
[submodule ".themes/darkstripes"]
	path = .themes/darkstripes
	url = git://github.com/amelandri/darkstripes.git
[submodule "octopress-bootstrap"]
	path = octopress-bootstrap
	url = https://github.com/barmstrong/octopress-bootstrap.git
[submodule "solarized-octopress-theme"]
	path = solarized-octopress-theme
	url = https://github.com/erikzaadi/solarized-octopress-theme.git
[submodule ".themes/solarized-octopress-theme"]
	path = .themes/solarized-octopress-theme
	url = https://github.com/erikzaadi/solarized-octopress-theme.git
[submodule ".themes/octopress-bootstrap"]
	path = .themes/octopress-bootstrap
	url = https://github.com/barmstrong/octopress-bootstrap.git
