{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}

{% block content %}
    {{ super() }}
    <h1>Let's Play Video Games</h1>
{% endblock %}

{% block extra_js %}
    {{ super() }}
    <script type="text/javascript">
    </script>
{% endblock %}
